<p>this text has <b>subtext</b> using b tag</p>
<p> this text has <strong>subtext</strong> using strong tag</p>
<p> this text has <i>subtext</i> using i tag</p>
<p> this text has <em>subtext</em> using em tag</p>
<p> this text has <small>subtext</small> using small tag</p>
<p> this text has <mark>subtext</mark> using mark tag</p>
<p> this text has <del>subtext</del> using dell tag</p>
<p> this text has <ins>subtext</ins> using ins tag<p>
<p> this text has x <sub>subtext</sub> using sub tag</p>
<p> this text has x <sup>subtext</sup> using sup tag</p>

<h2>type of tea :</h2>
<ul>
    <li>red tea</li>
    <ol>
        <li>sylon</li>
        <li>kini</li>
    </ol>
    <li>green tea</li>
    <ol>
        <li>togayyen</li>
        <li>longing</li>
    </ol>
</ul>
    <h2>cups tea</h2>
     <ul>
        <li>wooden cup</li>
        <li>glass cup</li>
     </ul>

       <style>
        table,th,td{
            border:1px solid black;
            border-collapse:collapse;
        }
       </style>
       <table style = "width:20%">
        <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
         </tr>
         <tr>
            <th>5</th>
            <th colspan = "2">6</th>
            <th rowspan = "2">10</th>
            <th>11</th>

         </tr>
         <tr>
            <th>12</th>
            <th>13</th>
            <th>14</th>
         </tr>

        </table>
        <h1> text <b>completed text of h1</b> </h1>
<h2> Objectives </h2>
<p> definition of h2 </p>
<p>this text has <strong>subtext</strong> using b tag</p>
<p>this text has <mark>subtext</mark> using mark tag</p>
            
<p>this text has <mark>subtext</mark> using mark tag</p>
            
            
        
        
